@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+SK:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
*{
    width: 100%;
    margin: 0;
}
body{
    font-family: Poppins;
    background-color: white;
    margin: 0;
    background-color: #271979;
    color: white;
}
.container{
    border-radius: 30px;
    border: 1px solid #190F53;
    background-color: #271979;
    display: flex;
    margin: 0;
    width: 50vw;
    /* height: 60vh; */
    margin-left: 25vw;
    margin-top: 25vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.left-side{
    width: 60%;
    align-items: center;
    background: rgba(13, 13, 13, 0.40);
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.50);
    color: white;
    justify-content: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}
.left-logo{
    padding: 10px;
    max-width: 300px;
    margin-left: 10px;
    margin-top: 1vh;
}
#left-noir{
    margin-top: 45%;
    font-size: 35px;
    color: white;
}
#left-paragraph{
    font-size: 12px;
}
.left-side p{
    font-size: 12px;
}
.right-side{
    width: 18vw;
    padding: 50px;
}
.left-side h1{
    text-align: center;
    font-size: 50px;
}
.right-side h2{
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
}
 .left-side p{
    font-size: 12px;
    text-align: center;
    margin-bottom: 50px;
}
.right-side button{
    width: 8vw;
    border-radius: 10px;
    background-color: #B6116B;
    border: none;
    color: white;
    padding: 8px;
    cursor: pointer;
}
.right-side input{
    width: 95%;
    padding: 8px;
    margin-bottom: 20px;
    border: none;
    /* border-radius: 5px; */
    background-color: #271979;
    color: White;
    outline: none;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
}
/* .right-side label{
    font-size: 15px;
    float: left;
    color: white;
} */
.links{
    padding: 12px;
    text-align: center;
    font-size: 10px;
    margin-right: 20em;
}
.links a{
    text-decoration: none;
    margin-right: 5em;
    font-size: 10px;
    color: White;
    font-weight: bold;
}
#create:hover{
    text-decoration: underline;
}
#forgot:hover{
    text-decoration: underline;
}
.admin_access{
    margin-left: 25em;
    padding-bottom: 5px;
    font-size: 10px;
}
.admin_access a{
    text-decoration: none;
    color: gold;
}
.password-field{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.password-field i{
   position: absolute;
   width: fit-content;
   right: 10px;
   top: 10px;
   cursor: pointer;
}

@media (max-width: 991px){
    .container{
        display: grid;
        width: 100%;
        margin-left: 0vw;
        margin-top: 0vh;
        border-radius: 0;
        box-shadow: 0px 0px 0px 0px;
        border: none;
    }
    .left-side{
        width: 100%;
        border-radius: 0;
    }
    .left-logo{
        padding: 10px;
        max-width: 500px;
        margin-left: 15%;
        margin-top: 0px;
    }
    #left-noir{
        margin: 20%;
        font-size: 40px;
        color: white;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    #left-paragraph{
        font-size: 15px;
        margin-bottom: 20%;
    }
    .right-side{
        width: 100%;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;

    }
    .right-side input{
        width: 90%;
    }
    .right-side button{
        width: 250px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .admin_access{
        max-width: fit-content;
        padding-bottom: 15px;
        font-size: 15px;
    }
}

@media (max-width: 720px){
    .container{
        display: grid;
        width: 100%;
        margin-left: 0vw;
        margin-top: 0vh;
        border-radius: 0;
        box-shadow: 0px 0px 0px 0px;
        border: none;
    }
    .left-side{
        width: 100%;
        border-radius: 0;
    }
    .left-logo{
        max-width: 350px;
        margin-top: 0px;
    }
    #left-noir{
        margin: 20%;
        font-size: 40px;
        color: white;
        max-width: fit-content;
        margin-left: auto;
        margin-left: 50px;
        margin-bottom: 0;
    }
    #left-paragraph{
        font-size: 12px;
    }
    .right-side{
        width: 100%;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;

    }
    .right-side input{
        width: 85%;
        margin-left: 15px;
    }
    .right-side button{
        width: 250px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .admin_access{
        max-width: fit-content;
        font-size: 15px;
    }
    .password-field{
        position: relative;
        right: 20px;
    }

}